    <!DOCTYPE html>
    <html lang="en">
    <head>
      <title>Admin approve</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="./style.css">
    </head>

    <body class="container">
      <div class="row align-items-center justify-content-center h-25">
        <img src="https://se-infra-imageserver2.azureedge.net/clink/images/9939f7e6-b392-42e2-9ba4-50b0d0528a8b8d12ed19-f1ec-4570-8776-2454be725f35.png?preset=med-sq" class="rounded mx-auto">
      </div>
        <div class="row align-items-center justify-content-center h-25">
          <form action="TBD.php">
            <div class="form-group">
              <label for="utcid" class="sr-only">Game Name:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Game Name:</span>
                </div>
                <input type="text" id="utcid" name="utcid">
              </div>
            </div>
            <div class="form-group">
              <input type="submit" value="Approve" class="btn btn-primary">
            </div>
          </form>
      </div>
    </body>
    </html>