<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/user">
        <img width="30" height="30" class="d-inline-block align-top" id="comp-utc-img" src="https://se-infra-imageserver2.azureedge.net/clink/images/9939f7e6-b392-42e2-9ba4-50b0d0528a8b8d12ed19-f1ec-4570-8776-2454be725f35.png?preset=med-sq">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <% if(user.isAdmin){ %> 
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/editGames">Admin</a>
                </li>
            <% } %> 
            <li class="nav-item">
                <a class="nav-link" href="/user">Games</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/games">My Library</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/help">Help</a>
            </li>
        </ul>
        <span class="navbar-text pr-1">
            <a href="/login/logout">Logout</a>
        </span>
    </div>
  </nav>