<div class="ui menu">
    <% if(user.isAdmin){ %> 
    <a class="item" href="/admin">Admin</a>
    <% } %> 
    <a class="item" href="/user">Manage</a>
    <a class="item">Help</a>
    <a class="item right" href="/login/logout">Logout</a>
</div>
