<div class="ui divided items">
    <% if(games != null){
    for(let game of games){ %>
    <%- include('./gameCard.ejs',  {game: game, adminView: adminView}) %>
    <% }} %>
</div>

<script>
function showDeleteModal(gameElementId){
    //console.log(gameElementId);
    $('#gameDeleteModal').modal({onApprove: function(event) {
        $('#gameDeleteModal').modal({
            transition: 'fade',
            duration: 10000
        }).modal('hide');
        deleteGame(gameElementId);
    }}).modal('show');
}
function deleteGame(gameElementId)
{
    //console.log('deleted')
    document.getElementById(gameElementId+'DeleteForm').submit()
}
function showUpdateModal(gameElementId, gameName, gameDescr){
    //console.log(gameElementId);
    fillModal(gameName, gameDescr, );
    $('#gameUpdateModal').modal({onApprove: function(event) {
        $('#gameUpdateModal').modal({
            transition: 'fade',
            duration: 10000
        }).modal('hide');
        updateGame(gameElementId);
    }}).modal('show');
}
function updateGame(gameElementId)
{
    //console.log('deleted')
    document.getElementById('gameUpdateForm').submit()
}
function fillModal(gameName, gameDescr, gameInputId){
    console.log(gameName)
    
    document.getElementById('gameToUpdateId').value = document.getElementById(gameName+'IdInput').value;
    
}
function fillDeleteModal(){

}

function approveGame(gameName){
    document.getElementById(gameName + 'IdApproveForm').submit()
}
</script>