<div id="gameDeleteModal" class="modal" role="dialog" on>
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Adding a game:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%- include('../components/addGameForm.ejs') %>
          </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-success" onclick="submitGameDeleteForm()">Submit</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
  </div>
</div>