<div id="gameDeleteModal" class="modal" role="dialog" on>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete <b id="gameNameDisplay">this Game</b>?:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/user/delete" method="POST" id="DeleteForm">
        <div class="modal-body">
          Are you sure?
        </div>
        <div class="modal-footer">
            <input type="hidden" name="_csrf" value="<%= csrfToken%>">
            <input id="deleteModalGameID" type="hidden" name="gameID">
            <button type="submit" class="btn btn-danger">Yes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>