<div id="gameUpdateModal" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Please provide the updated File ID
    </div>

    <div class="image content">
        <div class="description">
            <div id="updateModalGameName" class="ui header"></div>
            <p id="updateModalGameDescription">
            </p>
            <form id="gameUpdateForm" class="ui form" action="/user/update" method="POST">
                <div class="field">
                    <label>New File Id</label>
                    <input type="text" name="newFileId">
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" type="text" name="gameName" id="gameToUpdateNameInput">

            </form>
        </div>


    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui positive approve right labeled icon button">
            Ready to Update!
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>