#login-header
{
    margin-top: 20px;
}

#menu
{
    margin-left: 10px;
    margin-right: 10px;
}

#admin-menu
{
    margin-left: 10px;
    margin-right: 10px;
}

#comp-utc-img
{
    height: 50px;
    width: 50px;
}

.author-tab
{
    position: absolute;
    right: 0;
}

.author-box
{
    box-shadow: 0 0 0 1px rgba(255,255,255,0.2);
    border: 1px solid rgba(10,10,10,0.5);
    border-radius: 3px;
    background: darkblue;
    color: white !important;
}

.btn-checkbox-toggle:not(:disabled):not(.disabled).active
{
    background-color: #545b62;
    border-color: #4e555b;
}

img {
    margin: 20px;
    width: 75%;
    height: auto;
}