<%- include('../includes/header.ejs') %>
<%- include('../includes/nav.ejs', {active: "Help"}) %>

<div class="container">
     <div class="row helper-row">
          <div class="col-12 text-center">
               <h1>Uploading Your Game</h1>
          </div>
     </div>
     <div class="row helper-row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
               <h3>Google Drive</h3>
               <p> In order to upload a game, you will need to zip up your main folder.
                    Please zip at the folder level, do not zip the contents of you folder.
                    You will then need to upload it to google drive. After uploading go to the sharing options.</p>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
               <img src="https://drive.google.com/uc?export=view&id=1k9UcLYYsvZ_DnrZubkBsn0tHnKMVCvwc"
                    alt='google drive' style="border: solid black 2px;">
          </div>
     </div>

     <div class="row helper-row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
               <h3>Make your zip file public</h3>
               <p>Click the drop down next to the globe icon and select "Anyone with link." Then click the button in the
                    top right of the modal to copy the link.</p>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

               <img src="https://drive.google.com/uc?export=view&id=1uoYiYE3q421mpE0W3COhjd_oo8PFBXJ_"
                    alt="public on web" style="border: solid black 2px;">
          </div>
     </div>
     <div class="row helper-row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
               <h3>The File Id</h3>
               <p>Next get the shareable link and paste it into the upload form. This url has the file id in it.
                    It is after the "file/d" and before the "/view?" <br><br>
                    Make sure to delete the rest of the URL and only leave the file Id. </p>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
               <img src="https://drive.google.com/uc?export=view&id=1Buq1sVmJx3ehP1mzBtz21SPrnZ7ESyDz"
                    alt='google drive' style="border: solid black 2px;">
          </div>
     </div>
     <div class="row helper-row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
               <p>After trimming away the rest of the URL, the form should look like this. <br><br> Now you are ready to
                    submit.</p>

          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
               <img src="https://drive.google.com/uc?export=view&id=1nftz3SnLIyRFNd8mium70_fxlhs2NXcI"
                    alt='google drive' style="border: solid black 2px;">
          </div>
     </div>
     <div class="row helper-row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
               <p>To update the game, go your library and click on the game you want to update</p>

          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
               <img src="https://drive.google.com/uc?export=view&id=1pFXAjtu5UlsZp3XngUvL1x3xTm2elSwM"
                    alt='google drive' style="border: solid black 2px;">
          </div>
     </div>
     <div class="row helper-row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
               <p>Locate the edit button in the navbar.</p>

          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
               <img src="https://drive.google.com/uc?export=view&id=1L12SWLA7jIaNNZjlE3C4iPqwGC0HNMSD"
                    alt='google drive' style="border: solid black 2px;">
          </div>
     </div>
     <div class="row helper-row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
               <p>Click the add revision button to expand the revision addition menu. Fill out the form and hit save.
               </p>

          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
               <img src="https://drive.google.com/uc?export=view&id=1V2o5FIs3zoOxbHe76uOi8x_Yg5bhwkTk"
                    alt='google drive' style="border: solid black 2px;">
          </div>
     </div>
</div>


<%- include('../includes/footer.ejs') %>



<!-- https://drive.google.com/file/d/1oAJKESUewibZybAD1LL1OF-1TIBZoYWv/view?usp=sharing
https://drive.google.com/file/d/1ZDA8ZvENjoWVGMhDHIk3ij0EmJKm5Sv9/view?usp=sharing
https://drive.google.com/file/d/1WtDBC1m00AFF4_rPhavvYGqKnZ5apkvK/view?usp=sharing
https://drive.google.com/file/d/1k9UcLYYsvZ_DnrZubkBsn0tHnKMVCvwc/view?usp=sharing
https://drive.google.com/file/d/1C8wFUUXZjuPopX_Yo-VakuIrzsVsDdm8/view?usp=sharing 

https://drive.google.com/file/d/1pFXAjtu5UlsZp3XngUvL1x3xTm2elSwM/view?usp=sharing

https://drive.google.com/file/d/1L12SWLA7jIaNNZjlE3C4iPqwGC0HNMSD/view?usp=sharing

https://drive.google.com/file/d/1V2o5FIs3zoOxbHe76uOi8x_Yg5bhwkTk/view?usp=sharing

-->