<%- include('../includes/header.ejs') %>
<%- include('../includes/nav.ejs') %>

<h2>
    In order to upload a game, you will need to zip up your main folder.<br>
    Please zip at the folder level, do not zip the contents of you folder.<br>
    You will then need to upload it to google drive. After uploading go to the sharing options.
</h2>
<img src="https://drive.google.com/uc?export=view&id=1k9UcLYYsvZ_DnrZubkBsn0tHnKMVCvwc"
     alt='google drive' > <br>

<h2>
Click on advanced
</h2>
<img src="https://drive.google.com/uc?export=view&id=1WtDBC1m00AFF4_rPhavvYGqKnZ5apkvK" 
     alt="google drive advanced sharing"><br>
<h2>
    Make the zip public
</h2>
<img src="https://drive.google.com/uc?export=view&id=1oAJKESUewibZybAD1LL1OF-1TIBZoYWv" 
     alt="public on web" >
<h2>
    Next get the shareable link and paste it into the upload form. This url has the file id in it. 
    <br>
    It is after the "file/d" and before the "/view?"
</h2>
<img src="https://drive.google.com/uc?export=view&id=1F_QgnKJ89OimkySI07NFtHgO5Bp57ZcJ"
     alt="google drive file id highlighted in URL" >




<img src="https://drive.google.com/uc?export=view&id=1ZDA8ZvENjoWVGMhDHIk3ij0EmJKm5Sv9" 
     alt="complete form" >
<h2>
In order to update the game, upload, share and get the file id for your new zip. <br> The hit update on the game, paste in the file id, and hit the green button.
</h2>
<img src="https://drive.google.com/uc?export=view&id=1C8wFUUXZjuPopX_Yo-VakuIrzsVsDdm8" 
     alt="update modal">

<%- include('../includes/footer.ejs') %>



<!-- https://drive.google.com/file/d/1oAJKESUewibZybAD1LL1OF-1TIBZoYWv/view?usp=sharing
https://drive.google.com/file/d/1ZDA8ZvENjoWVGMhDHIk3ij0EmJKm5Sv9/view?usp=sharing
https://drive.google.com/file/d/1WtDBC1m00AFF4_rPhavvYGqKnZ5apkvK/view?usp=sharing
https://drive.google.com/file/d/1k9UcLYYsvZ_DnrZubkBsn0tHnKMVCvwc/view?usp=sharing
https://drive.google.com/file/d/1C8wFUUXZjuPopX_Yo-VakuIrzsVsDdm8/view?usp=sharing -->