<%- include('../includes/header.ejs') %>

    <div class="jumbotron jumbotron-fluid text-center bg-warning mb-0">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <img class="w-100" src="images/logo.png">
                </div>
                <div class="col-8 offset-1 align-self-center text-light">
                    <h1 class="display-1 text-left" style="text-shadow: 0px 2px #000000;"><i><b>Welcome aboard the Arc Arcade!</b></i></h1>
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-4">
                    <a class="btn btn-light form-control" href="/user">Login</a>
                </div>
                <div class="col-4">
                    <a class="btn btn-light form-control" href="/login/register">Register</a>
                </div>
            </div>

        </div>
    </div>
    <div class="contentcontainer">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img class="w-100" src="images/ArcadeRed.PNG">
                </div>
                <div class="col align-self-center">
                    <h1 class="text-center">Host your games on the Arcade Platform for Indie Games!</h1>
                    <h5 class="text-center"><i>Arc</i> is a maker-based initiative to provide a retro library made by aspiring and current Game Developers</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="contentcontainer">
        <div class="container">
            <div class="row">
                <div class="col align-self-center">
                    <h1 class="text-right">Build a Games Portfolio</h1>
                    <p class="text-right"><i>Arc</i>'s game pages allow for constant versioning, player feedback, and a user key for building a library of your own games to show off</p>
                </div>
                <div class="col-6">
                    <img class="w-100 border border-2 rounded p-3" src="images/Capture.PNG">
                </div>
            </div>
        </div>
    </div>
    <div class="contentcontainer">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    Image pending :P
                    <img class="w-100 border border-2 rounded p-3 ml-1" src="images/Capture.PNG">
                </div>
                <div class="col align-self-center text-center">
                    <h1 class="text-left">Play your games in the Arc Kiosk</h1>
                    <p class="text-left">All games on the Arc library can be played in the Arc Kiosk, complete with a retro arcade look. Create your own arcade cabinet using the Arc ship of games!</p>
                    <a class="btn btn-warning px-4 py-2 my-2" href="/login/register">Download the Kiosk</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-4 justify-content-center">
        <div class="col align-self-center text-center">
            <h2>Are you ready to set sail?</h2>
            <a class="btn btn-warning px-4 py-2 my-2" href="#">Create an Account</a>
        </div>
    </div>

<%- include('../includes/footer.ejs') %>
