<%- include('../includes/header.ejs') %>
<body>
  <div>
    <form action="/login/register" method="GET">
        <button type="submit">Create an account</button>
    </form>
  </div>

<%- include('../includes/footer.ejs') %>

