<%- include('../includes/header.ejs') %>
  <div class="jumbotron jumbotron-fluid text-center bg-warning">
    <div class="container">
      <h1 class="display-4 text-light" style="text-shadow: 0px 2px #000000;">Log in to the ARC</h1>
      <h3 class="text-light" style="text-shadow: 0px 2px #000000;">A place to distribute your games</h3>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-around">
      <% if(errorMessage) {%>
        <p class="text-center text-danger">
          <%= errorMessage%>
          Please check your credentials and try again
        </p>
      <% } %> 
    </div>
    <div class="row justify-content-around">
      <div class="col-8 m-2">
        <form action="/login" method="POST">
          <div class="p-1">
            <label>Username</label>
            <input type="text" name="username" class="form-control">
          </div>
          <div class="p-1">
            <label>Password</label>
            <input type="password" name="password" class="form-control">
          </div>

          <div class="m-3">
            <button type="submit" class="form-control btn btn-warning">Login</button>
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken%>">
        </form>
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="col-8 m-2">
        <form action="/login/register" method="GET">
          <button type="submit" class="form-control btn btn-light border-dark">Create an account</button>
        </form>
      </div>
    </div>
  </div>

  <%- include('../includes/footer.ejs') %>